div{
    font-family: TBCXRegular, serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-container{
    background: #f2f3f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    background-color: white;
    border-radius: 10px;
    width: 800px;
    margin: 5px;
    display: flex;
}

img{
    margin: 15px;
    border-radius: 10px;
    width: 180px;
    height: 150px;
}

.name-year-customs{
    width: 580px;
    display: grid;
    grid-template-columns: auto auto 1fr;
}

.name-year-customs > div:last-child {
    justify-self: end;
}

.car-info{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.views-time-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.car-info > div:last-child {
    justify-self: end;
}

.comment-view-save-icons{
    margin: 10px;
}

.comment-view-save-icons:hover svg path{
    fill: #19e58b;
}

.name{
    margin-top: 1px;
    font-weight: bold;
}

.year{
    margin-left: 8px;
    margin-right: 5px;
    color: gray;
    font-weight: bold;
}

.customs-passed{
    display: flex;
    font-size: 17px;
    color: green;
}

.customs-not-passed{
    font-size: 17px;
    color: red;
}

.engine-volume{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px
}

.gear-type{
    margin-left: 10px
}

.mileage-covered{
    margin-bottom: 10px;
    margin-left: 10px;
}

.dot{
    margin-right: 10px;
    font-weight: bold;
}

.money{
    font-size: 25px;
    font-weight: 550;
    margin-right: 10px;
}

.wheel-type{
    margin-left: 10px;
}

.views{
    margin-right: 10px;
    color: gray;
}

.order-date{
    margin-top: 2px;
    color: gray;
}

.for-rent{
    background: #019301;
    height: 18px;
    width: 80px;
    padding: 2px;
    margin-right: 10px;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.clear-filters{
    margin-top: 10px;
    background-color: red;
    transition: background-color 0.3s ease;
    border: 0;
    border-radius: 15px;
    padding: 25px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 20px;
}

.clear-filters:hover{
    cursor: grabbing;
    background-color: #b70101;
}

.info-container{
    margin-top: 15px;
}

@media (max-width: 1125px) {
    .main-container{
        width: auto;
        height: auto;
    }

    .product-container{
        width: auto;
        height: auto;
    }

    img {
        border-radius: 10px;
        max-width: 85vw;
        max-height: 80vh;
        height: auto;
        width: 80vw;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90vw;
    }

    .name{
        margin-top: 2px;
        font-size: calc(1vw + 9px);
    }

    .year{
        font-size: calc(1vw + 9px);
        margin-right: 10px;
        margin-top: 1px;
    }

    .customs-passed{
        font-size: calc(1vw + 8px);
    }

    .customs-not-passed{
        font-size: calc(1vw + 8px);
    }

    .money{
        font-size: 20px;
    }

    .engine-volume{
        font-size: 13px;
        margin-left: 5px;
    }

    .mileage-covered{
        margin-left: 5px;
        font-size: 13px;
    }

    .gear-type{
        margin-left: 5px;
        font-size: 13px;
    }

    .wheel-type{
        margin-left: 5px;
        font-size: 13px;
    }

    .name-year-customs{
        width: 80vw;
    }

    .car-info{
        width: 80vw;
    }

    .views{
        font-size: 15px;
    }

    .order-date{
        font-size: 15px;
    }

    .for-rent{
        margin-right: 3px;
    }

    .back-button {
        width: 100vw;
        height: 50px;
        border: 0;
        font-size: 15px;
        font-weight: bold;
        background-color: white;
        box-shadow: 0 1px 5px rgba(208, 204, 204, 0.3);
    }

    .back-button:hover{
        cursor: grabbing;
    }

    .info-container{
        margin-top: 0;
    }

}
